@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'StarRail';
  src: url(./assets/fonts/SDK_SC_Web.ttf);
}

body {
  background-image: url('./assets/images/star-rail-login-screen.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'StarRail';
}